<!-- inject using fragments/navMenu.html -->
<nav th:fragment="navMenu">
    <!-- this needs to be modular and changes when user is/isn't logged in and if they're a flatmate/PM -->
    <a th:href="@{/}">Home</a>
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/createAccount}">Create Account</a>
    <a th:href="@{/joinFlat}">Join Flat</a>
    <a th:href="@{/flatInfo}">Flat Info</a> <!-- This needs to only be visible when user is logged into flat -->
    <a th:href="@{/shoppingList}">Shopping List</a>
    <a th:href="@{/choreList}">Chore List</a>
    <a th:href="@{/rentCalculator}">Rent Calculator</a>
    <!-- <a th:href="@{/about}">About</a> this  needs to be an actual page-->
</nav>