<!-- inject using fragments/navMenu.html -->
<nav th:fragment="navMenu">
    <!-- this needs to change when user is/isn't logged in and if they're a flatmate/PM -->
     <!-- Always shown -->
    <a th:href="@{/}">Home</a>
    <a th:href="@{/about}">About</a>

    <!-- Logged out -->
    <a th:if="${session.user == null}" th:href="@{/login}">Login</a>
    <a th:if="${session.user == null}" th:href="@{/createAccount}">Create Account</a>
    
    
    <!-- Flatmate only -->
    <a th:if="${session.user != null}" th:href="@{/logoutPage}">Log Out</a>
    <a th:if="${session.user != null}" th:href="@{/shoppingList}">Shopping List</a>
    <a th:if="${session.user != null}" th:href="@{/choreList}">Chore List</a>
    <a th:if="${session.user != null}" th:href="@{/rentCalculator}">Rent Calculator</a>
    <a th:if="${session.user != null}" th:href="@{/joinFlat}">Join Flat</a>

    <!-- Flatmate and In Flat -->
    <a th:if="${session.user != null}" th:href="@{/flatInfo}">Flat Info</a> 

    <!-- PM only -->
    <a th:href="@{/viewFlats}">Manage Flats</a>
    <a th:href="@{/createFlat}">Create Flat</a>
</nav>