<div class="sidebar" id="mySidebar" th:fragment="sidebar">

  <!-- Nav stuff -->
  <div class="sidebar-section">
    <p class="sidebar-header">Navigation</p>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/about}">About</a>
  </div>
  
  <!-- Flatmate tools -->
  <div class="sidebar-section" th:if="${currentUser?.flat != null}">
    <p class="sidebar-header">Flat Tools</p>
    <a th:href="@{/choreList}">Chore List</a>
    <a th:href="@{/shoppingList}">Shopping List</a>
    <a th:href="@{/rentCalculator}">Rent Calculator</a>
    <a th:href="@{/expense}">Expenses</a>
    <a th:href="@{/ticket}">Tickets</a>
  </div>
  
  <!-- Flat Setup -->
  <div class="sidebar-section" th:if="${currentUser?.flat == null}">
    <p class="sidebar-header">Flat Setup</p>
    <a th:href="@{/joinFlat}">Join Flat</a>
    <a th:href="@{/createFlat}">Create Flat</a>
  </div>
  
  <!-- Account Section -->
  <div class="sidebar-section">
    <p class="sidebar-header">Account</p>
    <a th:if="${#authentication == null}" th:href="@{/login}">Login</a>
    <a th:if="${#authentication == null}" th:href="@{/createAccount}">Create Account</a>
    <a th:if="${currentUser != null}" th:href="@{/profilePage}">Profile</a>
  </div>

</div>