<div th:if="${#authentication != null and #authentication.authenticated and currentUser != null and flat != null}"
    th:fragment="signedInAndInFlatHomePage">

    <div class="container">
        <h1 class="pageTitle">Noticeboard</h1>
        <div th:if="${#authentication != null and #authentication.authenticated and currentUser != null and flat != null}"
            th:replace="~{fragments/signedInAndInFlatHomePage :: noticeboard}"></div>
        <button id="createNoticeButton" class="addNoticeButton">Add Notice</button>
        <div id="createNoticeModal" class="modal">
            <div class="modal-content">
                <span id="closeModalBtn" class="close">&times;</span>
                <form id="modalForm" action="/createNotice" method="post">
                    <h2>Create Notice</h2>
                    <label>Title:</label>
                    <input type="text" name="title" required>
                    <label>Description:</label>
                    <textarea name="description" required rows="4" cols="30"></textarea>
                    <button type="submit" class="addNoticeButton">Create</button>
                </form>
            </div>
        </div>
    </div>

</div>

<div th:if="${#authentication != null and #authentication.authenticated and currentUser != null and flat != null and flat.noticeBoard.size() > 0}"
    th:fragment="noticeboard">
    <div th:each="notice : ${flat.noticeBoard}">
        <h4 th:text="${notice.title}"></h4>
        <p th:text="${notice.description}"></p>
        <p th:text="'-' + ${notice.creator.firstName} + ' ' + ${notice.creator.lastName}"></p>

        <form id="modalForm" action="/deleteNotice" method="post">
            <input type="hidden" name="noticeId" th:value="${notice.id}" />
            <button type="submit">&times;</button>
        </form>
    </div>
</div>