<div th:if="${#authentication != null and #authentication.authenticated and currentUser != null and currentUser.flat != null}"
    th:fragment="signedInAndInFlatHomePage">

    <div class="container">
        <h2>Noticeboard</h2>
        <div th:if="${#authentication != null and #authentication.authenticated and currentUser != null and currentUser.flat != null}"
            th:replace="~{fragments/signedInAndInFlatHomePage :: noticeboard}"></div>
        <button id="createNoticeButton">Add Notice</button>
        <div id="createNoticeModal" class="modal">
            <div class="modal-content">
                <span id="closeModalBtn" class="close">&times;</span>
                <form id="modalForm" action="/createNotice" method="post">
                    <h2>Create Notice</h2>
                    <label>Title:</label>
                    <input type="text" name="title" required>
                    <label>Description:</label>
                    <input type="text" name="description" required>
                    <button type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>

</div>

<div th:if="${#authentication != null and #authentication.authenticated and currentUser != null and currentUser.flat != null and currentUser.flat.noticeBoard.size() > 0}"
    th:fragment="noticeboard">
    <div th:each="notice : ${currentUser.flat.noticeBoard}">
        Title:
        <h4 th:text="${notice.title}"></h4>
        Description:
        <h4 th:text="${notice.description}"></h4>
        <form id="modalForm" action="/deleteNotice" method="post">
            <input type="hidden" name="noticeId" th:value="${notice.id}" />
            <button type="submit">&times;</button>
        </form>
    </div>
</div>