<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account - Flattie.com</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h1>Flattie.com</h1>
        <p>Your one-stop shop for flatmate management</p>
    </header>

    <!-- Directly inject the nav menu from /fragments/ -->
    <div th:replace="~{fragments/navMenu :: navMenu}"></div>

    <div class="auth-page">
        <section id="register">
            <i class="fas fa-user-circle login-icon"></i>
            <h2>Create Account</h2>
            <div>
                <p th:if="${error != null}" th:text="${error}"></p>
            </div>
            <form action="/createAccount" method="post">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" placeholder="Enter first name" required>

                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" placeholder="Enter last name" required>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter a unique username" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password"
                    required>

                <button type="submit">Create Account</button>
            </form>
        </section>
    </div>

    <footer>
        <p>&copy; 2025 Flattie.com. All rights reserved.</p>
    </footer>
</body>

</html>