<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Flattie.com</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h1>Flattie.com</h1>
        <p>Your one-stop shop for flatmate management</p>
    </header>

    <!-- Directly inject the nav menu from /fragments/ -->
    <div th:replace="~{fragments/navMenu :: navMenu}"></div>

    <div class="auth-page">
        <section id="login">
            <i class="fas fa-user-circle login-icon"></i> <!-- this is the login icon -->
            <h2>Login</h2>
            <form action="/login" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>

                <div class="keep-logged-in">
                    <!-- this is a checkbox to keep the user logged in, will need to actually work though -->
                    <input type="checkbox" id="keep-logged-in" name="keep-logged-in">
                    <label for="keep-logged-in">Remember Me</label>
                </div>

                <input type="submit" value="Login">
            </form>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Flattie.com. All rights reserved.</p>
    </footer>
</body>

</html>