<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Flattie.com</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h1>Flattie.com</h1>
        <p>Your one-stop shop for flatmate management</p>
    </header>

    <!-- Directly inject the nav menu from /fragments/ -->
    <div th:replace="~{fragments/navMenu :: navMenu}"></div>

    <div class="auth-page">
        <section id="logOut">
            <i class="fas fa-user-circle login-icon"></i> <!-- this is the login icon -->
            <h2 th:text="'Welcome, ' + ${session.user.firstName}"></h2>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Out">
            </form>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Flattie.com. All rights reserved.</p>
    </footer>
</body>

</html>