<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent Calculator</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="mySidebar" class="sidebar">
        <!-- this needs to be modular and changes when user is/isn't logged in and if they're a flatmate/PM -->
        <a th:href="@{/}">Home</a>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/createAccount}">Create Account</a>
        <a th:href="@{/joinFlat}">Join Flat</a>
        <a th:href="@{/flatInfo}">Flat Info</a> <!-- This needs to only be visible when user is logged into flat -->
        <a th:href="@{/shoppingList}">Shopping List</a>
        <a th:href="@{/choreList}">Chore List</a>
        <a th:href="@{/rentCalculator}">Rent Calculator</a>
        <!-- <a th:href="@{/about}">About</a> this  needs to be an actual page-->
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>
        <div class="calculator-container">
            <h1><i class="fas fa-calculator"></i> Rent Calculator</h1>
            <div class="total-rent">
                Total Rent: $<span id="totalRent">1000</span>
                <!-- Placeholder, needs to get the total rent from the property manager -->
            </div>

            <div>
                <!-- Display the number of people, currently is placeholder, needs to get the account/s assigned to flat and add them instead-->
                <label for="numPeople">Number of People:</label>
                <button id="decreasePeople">-</button>
                <input type="number" id="numPeople" value="1" min="1">
                <button id="increasePeople">+</button>
            </div>

            <div id="sliders">
                <!-- Sliders will be added here -->
                <!-- Slider lock needs to work smh-->
            </div>
        </div>
    </div>
    <script src="/js/rentCalculator.js"></script>
</body>

</html>