<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Flats - Flattie.com</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/viewFlats.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h1>Flattie.com</h1>
        <p>Your one-stop shop for flatmate management</p>
    </header>

    <!-- Directly inject the nav menu from /fragments/ -->
    <div th:replace="~{fragments/navMenu :: navMenu}"></div>

    <div id="main">
        <div class="view-flats-container">
            <h1><i class="fas fa-home"></i> My Flats</h1>

            <div class="flat-grid" id="flat-grid">
                <!-- Flats will be added here -->
            </div>
        </div>
    </div>
    <script src="/js/viewFlats.js"></script>

    <footer>
        <p>&copy; 2024 Flattie.com. All rights reserved.</p>
    </footer>

</body>

</html>